/****************************************

used by both pages

****************************************/

body
{
	width: 1000px;
	height: 900px;
	margin-left: 5px;
	margin-top: 5px;	
}

section
{
	width: 100%;
	background: linear-gradient(to bottom, #FF7300 50%, #FFAA63);
    display: table;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.cell
{
    display: table-cell;
    margin-bottom: 2cm;
    width: 35%;
}

div.table
{
	display: table;
	width: 100%;
}

div.cell2
{
    display: table-cell;
    margin-bottom: 2cm;
    width: 50%;
	vertical-align: middle;
}

hr
{
	margin-left: 7px;
}

p.wallOfText
{
	text-indent: 30px;
	letter-spacing: 0.5px;
	line-height: 27px;
	margin-left: 10px;
}

label
{
	display:inline-block;
	width: 110px;
	vertical-align: middle;
	font-weight: bold;
}

label.moreSpace
{
	width: 130px;
}

input
{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 30px;
	vertical-align: middle;
}

div.selects
{
	display: inline-block;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

select
{
	padding-top: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

fieldset
{
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 8px;
}

textarea
{
	resize: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.centerElem
{
	position:  relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span.radio
{
	display: inline-block;
	width: 120px;
}

fieldset#errors
{
	height: 410px;
	font-size: 14px;
	color: #FF0000;
}

input[type=submit]
{
	width: 200px;
	height: 50px;
}

div#links, footer
{
	display: block;
    text-align: center;
	height: 50px;
	line-height: 35px;
	width: 100%;
	background: #FFAA63;
}

div#links ul 
{
    list-style-type: none;
	margin: 0px 0px;
	width: 95%;
	margin-left: -10px;
}

div#links ul li 
{
	display: inline-block;
	margin: auto;
}

div#links ul li a 
{
	display: block;
	line-height: 50px;
    color: #000000;
	padding-left: 17px;
	padding-right: 17px;
}